@use "mixins" as m;
@use "colors" as c;

.checkboxes {
  @include m.margins($mt: 4em);
  &__item div,
  &__subitem div {
    @include m.margins($mb: 1em);
  }

  &__item,
  &__subitem {
    @include m.position($p: relative);

    & .new {
      background-color: c.$blueviolet;
      color: c.$white;
      @include m.position($p: absolute, $r: -5px, $t: -5px);
    }
  }

  &__subitem div {
    @include m.margins($ml: 4em);
  }

  &__sublist--hide {
    display: none;
  }
}

.item {
  & div {
    background-color: lighten(c.$blueviolet, 40%);
    @include m.paddings(1em, 2em, 1em, 2em);
    @include m.flexContainer($ai: center, $jc: space-between);
  }

  & input[type="checkbox"] {
    opacity: 0;
    @include m.sizes(0, 0);
    @include m.margins(0, 0, 0, 0);
  }

  & label {
    @include m.textOpt(1.6em);
    cursor: pointer;
    display: block;
  }

  & input[type="text"] {
    @include m.margins($ml: 1em, $mr: 1em);
    background-color: c.$white;
    border: 1px solid c.$blueviolet;
    border-radius: 4px;
    @include m.paddings(0.6em, 0.6em, 0.6em, 0.6em);
    @include m.textOpt(14px, 700);
    flex-basis: 150px;
    display: inline-block;
    box-sizing: border-box;
  }

  & input[type="checkbox"] + label {
    @include m.paddings($pl: 2em);
    @include m.position($p: relative);
  }

  & input[type="checkbox"] + label::before {
    content: "";
    display: block;
    @include m.sizes(16px, 16px);
    @include m.position($p: absolute, $t: 0.5em, $l: 0px);
    box-shadow: 0 0 0 1px c.$white, 0 0 0 3px c.$blueviolet;
  }

  & input[type="checkbox"]:focus:not(:hover) + label::before {
    outline: 6px solid c.$black;
  }

  & input[type="checkbox"]:hover + label {
    outline: none;
    opacity: 0.8;
  }

  & input[type="checkbox"]:checked + label::before {
    box-shadow: inset 0 0 0 8px c.$blueviolet, 0 0 0 1px c.$white,
      0 0 0 3px c.$blueviolet;
  }

  & a,
  & button {
    @include m.textOpt(1.6em, 700);
    justify-self: center;
    color: c.$blueviolet;
    flex-grow: 1;
    text-align: right;
    cursor: pointer;
  }

  & button {
    border: none;
    background-color: transparent;
  }

  & button[data-id="remove"] {
    flex-grow: 0;
    color: c.$white;
    background-color: c.$blueviolet;
  }
}
